---
/**
 * * Hero with background image
 * You'll want a mobile image, and a desktop image for this.
 */

import Button from "@components/Button/Button.astro";
import siteData from "@config/siteData.json";
import heroImage from "@images/panjrud-ensemble-band.jpg";
import heroImageMobile from "@images/panjrud-ensemble-band.jpg";
import { Image } from "astro:assets";
---

<section id="hero" class="relative z-10 flex min-h-lvh w-full">
	<!-- background image -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<div class="absolute inset-0 bg-black/60"></div>

		<Image
			src={heroImage}
			class="hidden h-full w-full object-cover object-center sm:block"
			alt={siteData.name}
			aria-hidden="true"
			loading="eager"
		/>
		<Image
			src={heroImageMobile}
			class="h-full w-full object-cover object-center sm:hidden"
			alt={siteData.name}
			aria-hidden="true"
			loading="eager"
		/>
	</div>

	<!-- hero items -->
	<div class="site-container relative w-full gap-10 py-44 text-center md:py-52 md:text-left">
		<!-- Hero text -->
		<div
			class="absolute bottom-[15%] left-1/2 flex max-w-[800px] -translate-x-1/2 flex-col items-center text-center text-white md:bottom-[25%]"
		>
			<h1
				class="font-heading-1 mt-12 text-4xl font-light tracking-widest text-pretty uppercase md:mt-20 md:text-7xl md:leading-tight"
			>
				{siteData.name}
			</h1>

			<p class="mt-8 text-center text-lg text-pretty md:text-xl">{siteData.description}</p>
		</div>
	</div>
</section>
